.outer-div{
    width: 430px;
    height: 200px;
    display: inline-block;
    
}
.Profile-show{
    width: 130px;
    height: 100%;
    display: inline-block;
    margin-right:10px ;
}
.Profile-pic{
    display: block;
    width: 100%;
    height: 125px;
}
.image{
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.Profile-info{
    border: solid;
    border-color: white;
    border-width: 2px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0, 0.2);
    display: block;
    height: 75px;
}
.Profile-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    line-height: 0px;
    font-size: 14px;
}
.mutual-friends{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 0px;
    color: rgb(109, 106, 106);
    margin-bottom: 17px;
}   
button{
    font-size: 12px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(70, 82, 221);
    color: white;
    padding-left:12px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    cursor: pointer;
    transition: opacity 0.2s, margin 0.2s;
}
button:hover{
    opacity: 0.6;
}
