.header{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.each-story{
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.story-pic-border{
    position: relative;
    z-index: 1;
    border-radius: 30px;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,yellow,orange,red,rgb(255, 4, 234),rgb(255, 4, 234));
}
.story-pic{
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 30px;
}
.story-name{
    font-size: 12px;
    color: white;
    
}